*{
       box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

#page__container{
width: 85%;
}

.page__all-container {
    width: 85%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

