.general__container {
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  margin-top: 59px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 9px;
  justify-content: center;
  align-items: center;

  .date-period-wrapper {
    display: inline-flex;
    margin: 40px auto;
    border-bottom: 0.5px solid $color-navbar-items;
  }

  input {
    font-family: $paragraph-font;
    color: $color-navbar-items;
    font-size: 14px;
    text-align: center;
    width: 170px;
    border: 0.5px solid $color-navbar-items;
  }
}

.table-stats {
  border-spacing: 25px;
  margin: 0 auto;
  width: 70%;

  tr {
    td {
      position: relative;
      padding: 0;
      border-bottom: 0.5px solid $page-background;
      width: auto;

      h3,
      p {
        display: inline;
        font-family: $paragraph-font;
        color: $color-navbar-items;
      }
      p {
        position: absolute;
        right: 0;
        margin: 0;
      }
    }
  }
}

.reload-btn {
  width: 40px;
  margin: 0 auto;
  background-color: $button-color;
  border: none;
  border-radius: 5%;
  font-family: $brand-font;
  color: $color-light;
  cursor: pointer;
  padding: 10px;

  .icon-refresh {
    text-align: center;
    margin: 0;
  }
}

.reload-btn:hover {
  background-color: $hover-color;
}

.chart__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  canvas {
    max-width: 50%;
    align-self: center;
  }

  h3 {
    width: 67%;
    font-family: $paragraph-font;
    font-size: 15px;
    color: $color-navbar-items;
    align-self: center;
    margin: 50px auto;
  }
}
