@media screen and (min-width: 1025px) and (max-width: 1253px) {

  .modal-contents i.icon-password {
    left: 258px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page__all-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }

  .top {
    &__navigation-wrapper {
      width: 100%;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
    }
    &__navigation-icon {
      font-size: 12px;
    }
  }

  .general__container {
    margin: 59px 18px 0 18px;
  }

  .sidenav {
    display: none;
    font-size: 1.5vw;
    position: relative;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .sidenav.active {
    display: block;
    width: 30%;
    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    transform: translateX(1%);
    -webkit-transform: translate(1%);
  }

  .mobile {
    &__container {
      display: flex;
      justify-content: flex-start;
      top: 0;
      left: 0;
    }
    &__logo {
      width: 100%;
      display: inline-flex;
      align-items: center;
      color: $color-dark;

      h1.logo-header {
        font-family: $logo-font;
        color: $color-dark;
        font-size: 17px;

        width: 100%;
        z-index: 1;
      }
    }

    &__hamburger {
      display: inline-block;
      cursor: pointer;
      margin: 0 0 5px 20px;

      .bar1,
      .bar2,
      .bar3 {
        width: 1.5vw;
        height: 2px;
        background-color: $color-dark;
        z-index: 1;
        margin: 4px;
      }
    }
  }

  .navigation__header-wrapper {
    font-size: 12;
    align-items: center;
    justify-items: center;
  }

  h1.logo-header {
    font-size: 20px;
  }

  .manager__info {
    flex-direction: column;
  }

  .modal-contents form {
    position: relative;
  }

  .modal-contents i.icon-password {
    position: absolute;
    left: 250px;
    top: 27px;
    color: $color-navbar-items;
  }

  .modal-contents i.icon-login {
    position: absolute;
    left: 25px;
    top: 25px;
    color: $color-navbar-items;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  #page-container {
    width: 100%;
  }

  .general__container {
    align-self: center;
    margin: 59px 0;
    width: 100%;
    overflow: hidden;
    margin: 59px 0 0 0;
  }

  .page {
    &__all-container {
      width: 100%;
      margin: 0;
    }
  }

  table.table-stats {
    margin: 20px 0;
    font-size: 12px;
    overflow: hidden;
  }

  .chart__wrapper {
    h3 {
      width: 67%;
      font-family: $paragraph-font;
      font-size: 12px;
      color: $color-navbar-items;
      align-self: center;
      margin: 20px auto;
      text-align: center;
    }
  }

  .sidenav {
    display: none;
    font-size: 2vw;
    left: -100px;
    transition: all 300ms ease-out;
  }

  .hamburger {
    .bar1,
    .bar2,
    .bar3 {
      width: 2vw;
      height: 2px;
      background-color: $color-navbar-items;
      z-index: 1;
      margin: 2px;
    }
  }

  .navigation {
    &__header-wrapper {
      font-size: 2vw;
      align-items: center;
      justify-content: space-around;
    }

    &__item {
      font-size: 2vw;
      padding: 5px;
    }
    &__manager {
      padding: 0;
    }
  }

  .notification {
    display: none;
  }

  .manager {
    &__name {
      text-align: center;
      font-size: 2vw;
    }

    &__info {
      flex-direction: column;
      font-size: 2vw;
      justify-items: center;
      align-items: center;
    }
  }

  .sidenav.active {
    display: block;
    width: 30%;
    transform: translateX(1%);
    -webkit-transform: translate(1%);
    left: auto;
  }

  .tbody {
    display: flex;
    flex-direction: column;
  }
  tr {
    display: flex;
    flex-direction: column;
  }

  .mobile {
    &__container {
      display: flex;
      justify-content: flex-start;
      top: 0;
      left: 0;
    }
    &__logo {
      width: 100%;
      display: inline-flex;
      align-items: center;
      color: $color-dark;

      h1.logo-header {
        font-family: $logo-font;
        color: $color-dark;
        font-size: 2vw;

        width: 100%;
        z-index: 1;
      }
    }

    &__hamburger {
      display: inline-block;
      margin: 0 0 5px 20px;

      .bar1,
      .bar2,
      .bar3 {
        width: 2vw;
        height: 2px;
        background-color: $color-dark;
        z-index: 1;
        margin: 4px;
      }
    }
  }
  .hamburger:hover {
    background-color: $color-navbar-items;
  }
  #wallet.top__navigation-icon,
  i.icon-notification {
    display: none;
  }

  .top {
    &__navigation-wrapper {
      width: 100%;
      justify-content: start;
      flex-direction: row;
      align-items: center;
    }
    &__navigation-icon {
      font-size: 12px;
    }
  }

  #user {
    border: none;
  }

  .links__page-container {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .modal-contents form {
    position: relative;
    flex-direction: column;
  }

  .modal-contents i.icon-password {
    font-size: 20px;
    position: absolute;
    top: 78px;
    left: 15px;
    color: $color-navbar-items;
  }

  .modal-contents i.icon-login {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    color: $color-navbar-items;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  html {
    width: fit-content;
  }

  body {
    width: 100%;
  }

  #page-container {
    width: 100%;
  }

  .page__all-container {
    width: 100%;
    margin-left: 0;
  }
  .top__navigation-wrapper {
    flex-direction: row;
    width: 100%;
  }

  .mobile {
    &__container {
      display: flex;
      justify-content: flex-start;
      top: 0;
      left: 0;
    }
    &__logo {
      width: 100%;
      display: inline-flex;
      align-items: center;
      color: $color-dark;

      h1.logo-header {
        font-family: $logo-font;
        color: $color-dark;
        font-size: 15px;
        width: 100%;
        z-index: 1;
      }
    }

    &__hamburger {
      display: inline-block;
      cursor: pointer;
      margin: 0 0 5px 10px;

      .bar1,
      .bar2,
      .bar3 {
        width: 12px;
        height: 2px;
        background-color: $color-dark;
        z-index: 1;
        margin: 4px;
      }
    }
  }
  .hamburger:hover {
    background-color: $color-navbar-items;
  }
  #logout.top__navigation-icon {
    width: 0;
    display: none;
  }

  .sidenav {
    display: none;
    line-height: 3;
    position: relative;
    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    transform: translateX(1%);
    -webkit-transform: translate(1%);
    text-align: left;
  }

  .navigation {
    &__item {
      font-size: 4vw;
      border-bottom: solid 0.5px $color-navbar-items;
    }
  }
  .sidenav.active {
    display: block;
    width: 100%;
    left: auto;
  }

  .modal-contents form {
    position: relative;
    flex-direction: column;
  }

  .modal-contents i.icon-password {
    font-size: 17px;
    position: absolute;
    left: 3px;
    top: 67px;
    z-index: 1;
  }

  .modal-contents i.icon-login {
    font-size: 15px;
    position: absolute;
    left: 3px;
    top: 15px;
    z-index: 1;
  }
}
