@media screen and (max-width: 767px) {

  .sidenav {
    display: none;
  }

  .manager__info {
    flex-direction: column;
  }
  
  .tbody {
    display: flex;
    flex-direction: column;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {


}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
