/* stylelint-disable */

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

.modal-contents {
  background-color: white;
  text-align: center;
  position: relative;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  z-index: 1;

  .login {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.5px solid $color-navbar-items;
    width: 100%;
  }
  h3 {
    font-family: $paragraph-font;
    color: $color-navbar-items;
    text-transform: uppercase;
    margin: 20px;
  }

  input {
    margin: 2vw 1vw 2vw 2vw;
    padding: 8px;
    border: 1px solid $color-navbar-items;
    border-radius: 5%;
    font-family: $paragraph-font;
    position: relative;
    text-align: center;
  }

   i.icon-login {
    font-size: 20px;
    position: absolute;
    top: auto;
    left: 35px;
    color: $color-navbar-items;
  }

  i.icon-password {
    position: absolute;
    font-size: 20px;
    left: 300px;
    top: auto;
    color: $color-navbar-items;
  }

  form {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-around;
  }
  .enter-btn {
    height: 36px;
    margin: 2vw;
    background-color: $button-color;
    border: none;
    border-radius: 5%;
    font-family: $brand-font;
    color: $color-light;
    padding: 8px 35px;
    cursor: pointer;
  }
  .enter-btn:hover {
    background-color: $hover-color;
  }
}

.bg-modal.active {
  display: flex;
}


