/* stylelint-disable */

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
left:0;
display: flex;
  justify-content: center;
  align-items: center;
}

  .modal-contents {

    background-color: white;
    text-align: center;
    position: absolute;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    z-index: 1;
  }

  .login {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.5px solid $color-navbar-items;
    width: 100%;
  }
    h3 {
      font-family: $paragraph-font;
      color: $color-navbar-items;
      text-transform: uppercase;
      margin: 20px;
    }
  

    input {
      margin: 50px;
      padding: 8px;
      border: 1px solid $color-navbar-items;
      border-radius: 5%;
      font-family: $paragraph-font;
      position: relative;
      text-align: center;
    }

    .icon-login {
      font-size: 20px;
      position: absolute;
      top: 60%;
      left: 6%;
      color: $color-navbar-items;
    }

    .icon-password {
        font-size: 20px;
        position: absolute;
        top: 60%;
        left: 47%;
        color: $color-navbar-items;

    }

form {
  display: flex;
  flex: 1;
  align-items: center;
  align-self: center;
}
.enter-btn {
  height: 36px;
  margin: 0 50px 0 0;
  background-color: $button-color;
  border: none;
  border-radius: 5%;
  font-family: $brand-font;
  color: $color-light;
  padding: 8px 35px;
  cursor: pointer;
}
.enter-btn:hover {
  background-color: $hover-color;
}

.bg-modal.active{
  display: block;
}