/* stylelint-disable */

body {
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}

#page__container{
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;
}

.top {
  &__navigation-wrapper {
    position: fixed;
    height: 50px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: $color-light;
    display: flex;
    flex-direction: row;  
    justify-items: flex-end;
      
  }

  &__navigation-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-style: solid;
      border-width: 0 0.5px 0 0.5px;
      border-color: $page-background;
      margin: 0 20px;
  }

  &__menu {
    display: flex;
    width: auto;
  }

  &__menu-icon {
    display: flex;
    align-items: baseline;
    border-left: 1px solid $page-background;
    padding: 10px 20px 0 20px;
  }
}
