/* stylelint-disable */

.top {
  &__navigation-wrapper {
    position: fixed;
    height: 50px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: $color-light;
    display: flex;
    flex-direction: row-reverse;  
    justify-items: flex-end;
    flex-shrink: 0;
    display: inline-flex;
    font-family: $paragraph-font;
    color: $color-navbar-items;
    width: 85%;
      
  }

  &__navigation-icon {
      display: flex;
      flex-direction: row;
      align-items: center;

  }


  &__menu {
    display: flex;
    width: auto;
  }

  &__menu-icon {
    display: flex;
    align-items: baseline;
    margin: 0;
 
  }
}
#wallet, #user {
  border-style: solid;
  border-width: 0 0.5px 0 0.5px;
  border-color: $page-background;
  border-left: 1px solid $page-background;
  padding: 10px 20px 0 20px;
 }

